<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Tailwind API -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" />
  <title>Techh Talk</title>
</head>
<body>

<header>
  <h1><a href="/">Let's Talk Tech</a></h1>

  <nav>
    <a href="/home">Home</a>
    <button id="logout">Logout</button>
    <a href="/login">Login</a>
  </nav>
</header>

<main>
  {{{body}}}
</main>


  
</body>
</html>