<a href="/dashboard">Home</a>

<section>

<h2>Talk About It</h2>

<form class="new-post-form">
  <label class="post-title"></label>
  <input type="text" name="post-title" id="post-title" />
</form>

<form class="new-post-form">
  <label class="post-content"></label>
  <textarea type="text" name="post-content" id="post-content" ></textarea>
</form>

<button type="submit">Add Post</button>

</section>

<script src="/javascript/add-post.js"></script>
