<section>
  <a href="/dashboard/add-post">
    <button id="create-new-post">Talk About It!</button>
  </a>
</section>


{{#if posts.length}}
<section>
  <h2>Your Posts</h2>

  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}">Edit Post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/public/js/create-post.js"></script>
