
<section class="bg-blue-300">

<div><a href="/dashboard/add-post">Add</a></div>

{{#if posts.length}}
<div>
  <h2>Your Creations</h2>
{{#each posts as |post|}}
  <ul>
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="">Edit</a>
    </li>
{{/each}}
  </ul>
</div>
{{/if}}

</section>