<section>
  <button type="submit" id="create-post">Talk About It!</button>
</section>

<section>
  <h2>Your Posts</h2>

  <ul>
    <li>
      <a href="/">Edit Post</a>
    </li>
  </ul>
</section>

<script src="/public/js/create-post.js"></script>
