

  <section class="flex flex-col justify-center items-center border-4 border-blue-900 my-4 mx-28 py-20 rounded-xl">
  <h2 >Login</h2>

  <form class="login-form flex flex-col justify-center items-center">
    <input class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold" placeholder="Email"  type="email" id="email-login" />
    <input class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold" placeholder="Password" type="password" id="password-login" />
    <button class="font-bold border border-pink-200 hover:bg-pink-100 my-2 py-1 px-2 rounded-lg" type="submit" >Login</button>
  </form>
</section>

<section class="flex flex-col justify-center items-center border-4 border-blue-900 my-4 mx-28 py-20 rounded-xl">
  <h2>Sign Up</h2>

  <form class="signup-form  flex flex-col justify-center items-center">
    <input class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold" placeholder="Email" type="email" id="email-signup" />
    <input class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold" placeholder="Username" type="username" id="username-signup" />
    <input class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold" placeholder="Password" type="password" id="password-signup" />


    <button class="font-bold border border-pink-200 hover:bg-pink-100 my-2 py-1 px-2 rounded-lg" type="submit">Sign Up</button>
  </form>
</section>




<script src="/javascript/login.js"></script>

