

  <section class="flex flex-col justify-center items-center border-4 border-blue-900 my-4 mx-28 py-20 rounded-xl">
  <h2 >Login</h2>

  <form id="login-form" class=" flex flex-col justify-center items-center">
    <label for="usrnm-input">Username</label>
    <input name="usrnm-input" class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold" type="text" id="usrnm-input" />

    <label for="pwd-input">Password</label>
    <input name="pwd-input" class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold"  type="password" id="pwd-input" />

    <button class="font-bold border border-pink-200 hover:bg-pink-100 my-2 py-1 px-2 rounded-lg" id="login-btn" type="submit" >Login</button>

    <p>No Account?</p>
    <a class="font-bold border border-pink-200 hover:bg-pink-100 my-2 py-1 px-2 rounded-lg" type="button" href="/signup">Sign Up!</a>

  </form>
</section>


<script src="/public/js/login.js"></script>

