<div class="">

<h2>Create Something New!</h2>

<form id="new-post-form" class="">

  <label for="post-title" class="">Title</label>
  <input name="post-title" type="text" />

  <label for="post_text" class="">Content</label>
  <textarea name="post_text" id="post_text"></textarea>

  <button type="submit">Add</button>

</form>
</div>

<script src="/public/js/add-post.js"></script>