<section class="flex flex-col justify-center items-center border-4 border-blue-900 my-4 mx-28 py-20 rounded-xl">
  <h2 >Sign Up</h2>

<div class="" >
  <form id="signup-form" class=" flex flex-col justify-center items-center">

    <label for="usrnm-signup">Username</label>
    <input name="usrnm-signup" class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold" type="text" id="usrnm-signup" />

    <label for="pwd-signup">Password</label>
    <input name="pwd-signup" class="my-1 rounded-lg pl-2 border-2 text-gray-700 font-bold"  type="password" id="pwd-signup" />

    <button class="font-bold border border-pink-200 hover:bg-pink-100 my-2 py-1 px-2 rounded-lg" id="signup-btn" type="submit" >Sign Up!</button>

    <p>Have Account?</p>
    <a class="font-bold border border-pink-200 hover:bg-pink-100 my-2 py-1 px-2 rounded-lg" type="button" href="/login">Login</a>

  </form>
</div>
</section>


<script src="/public/js/signup.js"></script>